:root {
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(255, 255, 255);
  --header-color: rgb(87, 91, 97);
  --text-color: rgb(87, 91, 97);
  --text-light: rgb(255, 255, 255);
  --link-hover: rgb(41, 43, 46);
  --accent: black;
}

[data-theme='dark'] {
  --bg-light: rgb(30 41 59);
  --bg-dark: rgb(15 23 42);
  --header-color: rgb(255, 255, 255);
  --text-color: rgb(148, 163, 184);
  --text-light: rgb(255, 255, 255);
  --link-hover: rgb(109, 120, 136);
  --accent: var(--bg-dark);
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  background-color: var(--bg-dark);
  color: var(--header-color);
  position: relative;
  min-height: 100vh;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.content {
  position: relative;
}

a {
  text-decoration: none;
  color: var(--header-color);
  font-weight: 500;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.cover-image {
  width: 34%;
  border-radius: 0.5rem;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cover-text {
  width: 66%;
  padding: 3rem 2rem;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: left;
  color: var(--text-color);
}

.cover-text h2 {
  font-size: 3rem;
  line-height: 1rem;
  color: var(--header-color);
}

.cover-container {
  padding: 6rem 3rem;
}

.section-title {
  font-size: 1.85rem;
  line-height: 1.5rem;
  font-weight: bolder;
}

.section {
  width: 66%;
  padding: 0 3rem;
}

.section-text {
  padding: 0.5rem 0 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
  color: var(--text-color);
}

.contact-form {
  width: 100%;
  padding: 0 3rem;
  align-items: flex-start;
}

.contact-form textarea {
  width: calc(100% - 6rem);
}

.contact-form button[type='submit'] {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  color: var(--accent);
  background: var(--bg-light);
  border: 1px solid var(--header-color);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem 0;
}

.contact-form button[type='submit']:hover {
  background: var(--accent);
  color: var(--bg-light);
}
